html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.shirt-canvas {
  position: relative;
  width: 80vw;     /* 80% of viewport width */
  max-width: 500px; /* optional max width for large screens */
  height: auto;
  aspect-ratio: 360 / 480; /* keeps shirt proportions */
  border: 1px solid #ccc; /* optional */
}

.shirt {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none; /* let logo be draggable */
}



